---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Lost from "/src/assets/404.png"
---





<MainLayout title="Winnard Bansah | Page not Found">

    <section class="section-404">
        <div class="container wrapper">
            <Image src={Lost} alt="404 page not found" />
            <div class="text-container">
                <h1 class="text-4xl font-extrabold leading-none tracking-tight text-white md:text-5xl lg:text-6xl ">Page not found</h1>
                <p class="my-8">It seems the page you’re looking for no longer exists on my website.</p>
                <a href="/" class="btn btn-neutral">Let's start from the top</a>
            </div>
        </div>
    </section>

</MainLayout>










<style lang="scss">
    .section-404 {
        padding: 10rem 0;
        position: relative;

        img {
            width: 100%;
            max-width: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            opacity: .4;
        }
        .text-container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
</style>