---
import MainLayout from "../layouts/MainLayout.astro";
import BlogSection from "../components/BlogSection.astro";
import Banner from "../components/Banner.astro";

import { Image } from "astro:assets";
import AboutHero from "../assets/about-hero.png"
import Winnard3 from "../assets/winnard-3.png"
import Winnard4 from "../assets/winnard-4.png"
import Winnard5 from "../assets/winnard-5.png"
---



<MainLayout title="Winnard | About">

    <!-- ======================== About Hero =================== -->
    <section class="section-about__hero ">
        <div class="container wrapper">
            <div class="grid px-4 py-8 mx-auto gap-20 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
                <div class="mr-auto place-self-center lg:col-span-7">
                    <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">I’m Winnard. Nice to meet you</h1>
                    
                    <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl pb-8">Hi, I'm Winnard Bansah, a Social Media Manager, Digital Marketer, and Copywriter. I mainly write content and manage online profiles. I also capture and edit amazing videos and photos. Check out some of my work on my Portfolio page</p>
                    <hr>
                </div>
                <div class="lg:mt-0 lg:col-span-5 lg:flex">
                    <Image src={AboutHero} alt="Winnard Bansah photo with light" />
                </div>                
            </div>
        </div>
    </section>
    <!-- End of About Hero -->


    <!-- ======================== About =================== -->
    <section class="section-about">
        <div class="container wrapper">
            <div class="grid gap-20 lg:gap-8 grid-cols-1 md:grid-cols-2 items-center">
                <div>
                    <Image src={Winnard3} alt="Winnard-3" />
                </div>
                <div>
                    <h2 class="heading-secondary">Journey and Expertise</h2>
                    <h1 class="max-w-2xl mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Where I am</h1>
                    <p>My journey into digital marketing started with a desire to explore platforms that connect people and deliver results. I hold a Bachelor's Degree in Geography and Classical History and a Diploma in Business Administration.</p>
                    <br>
                    <p>I hold valuable experience in Digital Marketing for various organizations and in Videography & Photography. I also have multiple certifications in Artificial Intelligence, Digital Marketing, and Digital Advertising, which help me stay updated with industry trends and new technologies.</p>
                </div>
                <div>
                    <h2 class="heading-secondary">And some more</h2>
                    <h1 class="max-w-2xl mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">There is so much more...</h1>
                    <p>Outside of work, I'm an active member of the Rotaract E-Club of Ghana, where I help make a positive impact in the community as part of the Public Image committee. This role has strengthened my belief in the power of social media for social good.</p>
                    <br>
                    <p>When I'm not working, I enjoy watching football, listening to music, and watching TV shows, which keep me entertained and inspired. </p> 
                    <br>
                    <p>I'm dedicated to lifelong learning, self-development, and growth, and this commitment helps me stay current in the ever-changing digital world and allows me to continually improve and offer innovative solutions. Let's Connect.</p>
                </div>
                <div>
                    <Image src={Winnard4} alt="Winnard 5" class="mb-4" />
                    <Image src={Winnard5} alt="Winnard 5" />
                </div>
            </div>
        </div>
    </section>
    <!-- End of About -->





<Banner></Banner>






    <!-- =========================== Section Skills ==================== -->
    <section class="section-about__skills">
        <div class="container wrapper">
            <h2 class="heading-secondary">My Skills</h2>
                <h1 class="max-w-2xl mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Skills That Make the Magic Happen</h1>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <div class="skill">
                        <!-- Number -->
                        <div class="number">
                            <div class="dash"></div>
                            <p>01</p>
                        </div>

                        <!-- title -->
                        <h1 class="my-4">DIGITAL MARKETING & SOCIAL MEDIA MANAGEMENT</h1>

                        <p> I assist with digital marketing plans that enhance brand presence, and I also help create and share content for various social media platforms and websites.</p>
                    </div>
                    <div class="skill">
                        <!-- Number -->
                        <div class="number">
                            <div class="dash"></div>
                            <p>02</p>
                        </div>

                        <!-- title -->
                        <h1 class="my-4">COPYWRITING & CONTENT WRITING</h1>

                        <p>Being Online is the digital storefront for you or your company, and what you write is the friendly face customers will meet at the door. I'll make sure clients are greeted with personality, professionalism, and a hint of humor.</p>
                    </div>
                    <div class="skill">
                        <!-- Number -->
                        <div class="number">
                            <div class="dash"></div>
                            <p>03</p>
                        </div>

                        <!-- title -->
                        <h1 class="my-4">VIDEOS AND PHOTOS</h1>

                        <p>Using Adobe Suite (Premiere Pro, Lightroom, & Photoshop),I capture raw footage and turn them into polished, engaging videos and photos that tell a story and captivate viewers.</p>
                    </div>
                    <div class="skill">
                        <!-- Number -->
                        <div class="number">
                            <div class="dash"></div>
                            <p>04</p>
                        </div>

                        <!-- title -->
                        <h1 class="my-4">ARTIFICIAL INTELLIGENCE</h1>

                        <p>I leverage Artificial Intelligence to improve what I do while adding a human touch to make writing, research, analysis, and overall work easier, faster, and better.</p>
                    </div>
                </div>
        </div>
    </section>
    <!-- End of Section skills -->

    <!-- Section -->
    <BlogSection></BlogSection>
</MainLayout>








<style lang="scss">

// =============== About hero ===============
.section-about__hero {
    padding-top: 8rem;
    background-color: rgb(var(--clr-win-black));
}
// End of About hero


// =============== About ===============
.section-about {
    padding: 8rem 0;
}
// End of about





// ================= skills =====================
.section-about__skills {
    padding: 8rem 0;

    .skill {
        padding: 2rem;
        border: 1px solid rgb(var(--clr-win-gray));
        border-radius: 1rem;
        background-color: rgb(var(--clr-win-black));
        cursor: pointer;
        transition: .2s;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.193);

        &:hover {
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.103);
            transform: translateY(-5px);
        }


        .number {
            display: flex;
            align-items: center;
            gap: 1rem;

            p {
                color: rgb(var(--clr-win-gray-light));
            }
        }
        .dash {
            width: 2rem;
            height: .3rem;
            background-color: rgb(var(--clr-win-blue));

        }
        h1 {
            font-size: 2rem;
            line-height: 1;
        }
    }
}
// End of skills






// =====================================================
//                 Media Queries
// ====================================================

@media screen and (min-width: 768px) {
    .section-about__hero {
        padding-top: 0;
    }
}
</style>