






    <!-- ============================ Portfolio Hero ===================== -->
    <section class="page-hero hero py-24 bg-winblack">
        <div class="container wrapper">
            <div class="hero-container flex flex-col items-center justify-center text-center ">
                <slot />
            </div>
        </div>
    </section>
    <!-- End of Portfolio Hero -->




<style lang="scss">

    // ================= page  Hero =============
    .page-hero {

        .hero-container {
            width: 100%;
            max-width: 650px;
            margin: 0 auto;
        }
    }
        // end of portfolio heer

</style>